
    body
    {
        background:         #c0c0c0;
        color:              #3d3d3d;
        margin:             50px;
    }

    *
    {
        font-size:          15px;
        font-family:        sans-serif;
        margin:             0;
        padding:            0;
        border:             0;
        border-radius:      5px;
        transition:         all 0.3s ease-in;
        outline:            none;
    }

    div#mainContainer
    {
        background:         #ffffff;
        text-align:         center;
        margin:             0 auto 0 auto;
        padding:            15px;
        width:              640px;
        height:             auto;
    }
